<!--170309(목) 웹프로그래밍 3일차-->


<!-- textbox -->
<input type="text" value="TEST"><br>
<input type="text" placeholder="TEST"><br>

<!-- radiobox -->
<input type="radio" name="level" checked>1</input><br>
<input type="radio" name="level">2</input><br>
<input type="radio" name="level">3</input><br>
<input type="radio" name="level">4</input><br>
<input type="radio" name="level">5</input><br>

<!-- select option -->
<select name="" id="">
<option value="">독서</option>
<optgroup label="운동">
  <option selected>축구</option>
  <option>농구</option>
  <option>탁구</option>
</optgroup>
<option>음악감상</option>
<option>등산</option>
</select>

<!-- date -->
<br><input type="date"><br>


<!-- 실습#1 -->
<br><h1>실습#1</h1><hr>
<form action="">
<table borer="1">
  <tbody>
    <tr>
      <td>EMAIL</td>
      <td><input type="email" placeholder="test@test.com"></td>
    </tr>
    <tr>
      <td>PWD</td>
      <td><input type="password"></td>
    </tr>
    <tr>
      <td colspan="2"><hr></td>
    </tr>
    <tr>
      <td>AGE</td>
      <td><input type="number" value="10"></td>
    </tr>
    <tr>
      <td>BIRTH</td>
      <td><input type="date" min="1980-01-01"></td>
    </tr>
    <tr>
      <td>GENDER</td>
      <td>
        <input type="radio" name="gender" checked>M</input>
        <input type="radio" name="gender">F</input>
        <input type="radio" name="gender">Other</input>
      </td>
    </tr>
    <tr>
      <td>DIFFICULTY</td>
      <td><input type="range" min="0" max="10"></td>
    </tr>
  </tbody>
</table>
</form>