<link rel="stylesheet" type="text/css" href="assets/mycss.css">

<div class="page">
	<header>
		<a class="brand" href="#">UEFA.com</a>

		<ul class="top-nav">
			<li><a href="#">About UEFA</a></li>
			<li><a href="#">Live scores</a></li>
			<li><a href="#">Tickets and hospitality</a></li>
			<li><a href="#">Store</a></li>
			<li><a href="#">Search</a></li>
			<li><a href="#">Login</a></li>
			<li><a href="#">All sections</a></li>
		</ul>
	</header>

	<div class="navigation">
		<nav>
			<div class="logoLink">CHAMPIONS LEAGUE</div>
			<ul class="mid-nav">
				<li><a href="#">LATEST</a></li>
				<li><a href="#">MATCHES</a></li>
				<li><a href="#">DRAWS</a></li>
				<li><a href="#">CLUBS</a></li>
				<li><a href="#">STATS</a></li>
				<li><a href="#">FANZONE</a></li>
				<li><a href="#">HISTORY</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">STORE</a></li>
			</ul>
		</nav>
		<div class="navigation-container">
			<h1>UEFA Champions League latest</h1>
			<ul>
				<li><a href="#">Watch Tuesday's highlights now on UEFA.com</a></li>
				<li><a href="#">Leicester stun Sevilla to reach last eight</a></li>
				<li><a href="#">Juventus finish job against Porto</a></li>
				<li><a href="#">Iker Casillas breaks appearance record</a></li>
				<li><a href="#">Full guide: Monaco v Manchester City</a></li>
				<li><a href="#">Preview: Atlético v Leverkusen</a></li>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="rowTitle">
				<p>Round of 16 / 2nd leg (8 March)</p>
			</div>
			<div class="col">
				<p>Arsenal</p>
				<p>1 - 5</p>
				<p>Bayern</p>
			</div>
			<div class="col">
				<p>Napoli</p>
				<p>1 - 3</p>
				<p>Real Madrid</p>
			</div>
		</div>

		<div class="row">
			<div class="rowTitle">
				<p>Round of 16 / 2nd leg (9 March)</p>
			</div>
			<div class="col">
				<p>Dortmund</p>
				<p>4 - 0</p>
				<p>Benfica</p>
			</div>
			<div class="col">
				<p>Barcelona</p>
				<p>6 - 1</p>
				<p>Paris</p>
			</div>
		</div>

		<div class="row">
			<div class="rowTitle">
				<p>Round of 16 / 2nd leg (15 March)</p>
			</div>
			<div class="col">
				<p>Juventus</p>
				<p>1 - 0</p>
				<p>Porto</p>
			</div>
			<div class="col">
				<p>Leicester</p>
				<p>2 - 0</p>
				<p>Sevilla</p>
			</div>
		</div>

		<div class="row">
			<div class="rowTitle">
				<p>Round of 16 / 2nd leg (16 March)</p>
			</div>
			<div class="col">
				<p>Atletico</p>
				<p>VS</p>
				<p>Leverkusen</p>
			</div>
			<div class="col">
				<p>Monaco</p>
				<p>VS</p>
				<p>Man. City</p>
			</div>
		</div>

		<div class="row">
			<div class="col c3">
				<p class="tableTitle">Group A</p>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>P</th>
							<th>Pts</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Arsenal FC</td>
							<td>6</td>
							<td>14</td>
						</tr>
						<tr>
							<td>Paris Saint-Germain</td>
							<td>6</td>
							<td>12</td>
						</tr>
						<tr>
							<td>PFC Ludogorets Razgrad</td>
							<td>6</td>
							<td>3</td>
						</tr>
						<tr>
							<td>FC Basel 1893</td>
							<td>6</td>
							<td>2</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col c3">
				<p class="tableTitle">Group B</p>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>P</th>
							<th>Pts</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SSC Napoli</td>
							<td>6</td>
							<td>11</td>
						</tr>
						<tr>
							<td>SL Benifica</td>
							<td>6</td>
							<td>8</td>
						</tr>
						<tr>
							<td>Beşiktaş JK</td>
							<td>6</td>
							<td>7</td>
						</tr>
						<tr>
							<td>FC Dynamo Kyiv</td>
							<td>6</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col c3">
				<p class="tableTitle">Group C</p>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>P</th>
							<th>Pts</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>FC Barcelona</td>
							<td>6</td>
							<td>15</td>
						</tr>
						<tr>
							<td>Manchester City FC</td>
							<td>6</td>
							<td>9</td>
						</tr>
						<tr>
							<td>VfL Borussia Mönchengladbach</td>
							<td>6</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Celtic FC</td>
							<td>6</td>
							<td>3</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col c3">
				<p class="tableTitle">Group D</p>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>P</th>
							<th>Pts</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Club Atlético de Madrid</td>
							<td>6</td>
							<td>15</td>
						</tr>
						<tr>
							<td>FC Bayern München</td>
							<td>6</td>
							<td>12</td>
						</tr>
						<tr>
							<td>FC Rostov</td>
							<td>6</td>
							<td>5</td>
						</tr>
						<tr>
							<td>PSV Eindhoven</td>
							<td>6</td>
							<td>2</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>



	<footer>
		<div class="footer-top">
			<div class="footer-menu">
				<ul>
					<li>Latest</li>
					<li>Matches</li>
					<li>Draws</li>
					<li>Clubs</li>
				</ul>
			</div>

			<div class="footer-menu">
				<ul>
					<li>Stats</li>
					<li>Fanzone</li>
					<li>History</li>
					<li>About</li>
					<li>Store</li>
				</ul>
			</div>

			<div class="footer-menu">
				<p>UEFA NETWORK SITES</p>
				<ul>
					<li>UEFA.com</li>
					<li>UEFA.org</li>
					<li>UEFA Foundation</li>
				</ul>
			</div>

			<div class="footer-menu">
				<p>MY UEFA.COM</p>
				<ul>
					<li>Login</li>
					<li>Register</li>
				</ul>
				<p>TOOLS</p>
				<ul>
					<li>RSS feeds</li>
					<li>Calendar</li>
				</ul>
			</div>

			<div class="footer-menu">
				<p>CHANGE LANGUAGE</p>
				<ul>
					<li>English</li>
					<li>Français</li>
					<li>Deutsch</li>
					<li>Русский</li>
					<li>Español</li>
					<li>Italiano</li>
					<li>Português</li>
					<li>简体中文</li>
					<li>日本語</li>
				</ul>
			</div>
		</div>

		<div class="footer-mid">
			<ul>
				<li>Accessible version</li>
				<li>Sitemap</li>
				<li>Privacy</li>
				<li>Terms and Conditions</li>
				<li>Cookie policy</li>
			</ul>
		</div>

		<div class="footer-bottom">
			<p>&copy; 2017 MY UEFA | CHAMPIONS LEAGUE All rights reserved.</p>
			<p>The UEFA word, the UEFA logo and all marks related to UEFA competitions, are protected by trademarks and/or copyright of UEFA. No use for commercial purposes may be made of such trademarks. Use of UEFA.com signifies your agreement to the Terms and Conditions and Privacy Policy.</p>
		</div>
	</footer>
</div>