<!--head에 추가 - 각 device별 defalut size로 보여지게-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="assets/layout.css"></link>

<div id="nav">nav</div>
<div id="content1">content1</div>
<div id="content2">content2</div>
<div id="content3">content3</div>

<ul>
  <li><a data-email="web@konkuk.ac.kr" href="mailto:web@konkuk.ac.kr"></a></li>
  <li><a data-email="program@konkuk.ac.kr" href="mailto:program@konkuk.ac.kr"></a></li>
  <li><a data-email="ming@konkuk.ac.kr" href="mailto:ming@konkuk.ac.kr"></a></li>
</ul>