<!DOCTYPE html>
<html>
<head>
  <title>과제#1 - 자기소개</title>
</head>
<body>
  <div class="intro">
    <h1>자기소개</h1>
    <img src="pic.jpg" style="width:150px" alt="picture" ></img>
    <h3>김재영</h3>
    <h4>201314185</h4>
  </div>
  
  <hr>
  <div class="qna">
    <ul>
      <li>
        Q. Web개발경험<br>
        A. 멋쟁이사자처럼 이라는 연합동아리에서 Ruby on Rails을 활용해서 
           간단한 웹페이지를 만들어봤습니다.<br>
           <a href="https://github.com/grit0614">GitHub</a>
      </li>
      <li>
        Q. 수업에 바라는 점<br>
        A. 컴퓨터공학과에 웹개발수업이 거의 전무했던 만큼, 웹에 대한 전반적인 이해도를 높히고 싶습니다.
      </li>
      <li>
        Q. 사는 곳<br>
        A. 서울시 관악구
      </li>
      <li>
        Q. 전공<br>
        A. 응용통계학과
      </li>
      <li>
        Q. 학년<br>
        A. 4학년
      </li>
      <li>
        Q. 오늘 점심은 무엇을 먹을까?<br>
        A. 빅보이식당에 가지 않을까 싶습니다.
      </li>
      <li>
        10개를 채우는게 생각보다 쉽지 않네요.<br>
        한 학기동안 열심히 배워보겠습니다.
      </li>
    </ul>
    
    <table border="1" style="text-align: center">
      <thead>
        <tr>
          <th>일</th>
          <th>월</th>
          <th>화</th>
          <th>수</th>
          <th>목</th>
          <th>금</th>
          <th>토</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
        <tr>
          <td>5</td>
          <td>6</td>
          <td><b>7</b></td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
        </tr>
        <tr>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
        </tr>
        <tr>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
        </tr>
        <tr>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">2017. 03.</td>
        </tr>
      </tfoot>
    </table>
  </div>
</body>
</html>